.lista-book {
    margin: 10px;
  }

.flechas{
    margin-top: 50px;
}
.flecha{
    width: 100%;
    height: 100%;
}
  
.libros-margin{
    margin-top: 15px;
    margin-bottom: 15px;
}

.generos{
    width: 25%;
}
.fondo1{
    background-size: cover;
    background-image: url("../img/fondologin.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

.paralelogramo{ 
    padding-top: 15%;
    padding-left: 10%;  
    height: 90%; 
    width: 90%; 
    border: 2px solid rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0.603); 
    top: 0px; 
    transform: rotate(280deg) skew(170deg); 
    -webkit-transform: rotate(-4deg) skew(172deg); 
}
.cuadrado{
    height: 600px; 
    width: 90%; 
    background-color: rgba(202, 66, 66, 0); 
    transform: rotate(4deg); 
    -webkit-transform: rotate(4deg) skew(187deg) ; 
}
.preview{ 
    align-items: center;
    height: 800px; 
    width:  100%; 
    background-color: #428BCA; 
}
.tabsinicio{
    height: 80px;
}
.paneltabs{
    height: 100%;
}
.margetop{
    padding-top: 10%;
}
.separador{
    height: 1px;
}
.centrar{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.contenedor1{
    padding-top: 1%;
    padding-bottom: 3px;
    padding-left: 4%;
    padding-right: 4%;
}
.usar-todo{
    width: 100%;
    height: 100%;
}
.panel-control{
    height: 100%;
}
.usar-foto{
    background-size: cover;
   background-color: #212121;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
}
.foto-circular{
    margin-top: 10%;
    height: 50px;
    width: 50px;
}